- name: Store journal in tmpfs
  copy:
    dest: /etc/systemd/journald.conf.d/custom.conf
    content: |
      [Journal]
      Storage=volatile

- pacman:
    name:
      - pacman-contrib

- name: Paccache keep one
  lineinfile:
    path: /etc/conf.d/pacman-contrib
    line: PACCACHE_ARGS=-k1

- systemd_service:
    name: paccache.timer
    enabled: true
    state: started

- systemd_service:
    name: fstrim.timer
    enabled: true
    state: started
