- name: Set journal config
  block:
    - file:
        path: /etc/systemd/journald.conf.d/
        state: directory
    - copy:
        dest: /etc/systemd/journald.conf.d/custom.conf
        content: |
          [Journal]
          Storage=volatile
          ForwardToConsole=yes
          TTYPath=/dev/tty12

- name: Set hibernate action
  block:
    - file:
        path: /etc/systemd/logind.conf.d
        state: directory
    - copy:
        dest: /etc/systemd/logind.conf.d/custom.conf
        content: |
          [Login]
          HandleLidSwitchExternalPower=ignore

- name: Limit coredump
  block:
    - file:
        path: /etc/systemd/coredump.conf.d
        state: directory
    - copy:
        dest: /etc/systemd/coredump.conf.d/custom.conf
        content: |
          [Coredump]
          ProcessSizeMax={{ (ansible_facts['memtotal_mb'] / 4) | int }}M
          EnterNamespace=yes
          MaxUse={{ ansible_facts['memtotal_mb'] / 2 | int }}M

- pacman:
    name:
      - pacman-contrib
      - btrfs-progs

- name: Paccache keep one
  lineinfile:
    path: /etc/conf.d/pacman-contrib
    line: PACCACHE_ARGS=-k1

- systemd_service:
    name: paccache.timer
    enabled: true
    state: started

- systemd_service:
    name: fstrim.timer
    enabled: true
    state: started

# debug:

- name: Install debugging tools
  pacman:
    name:
      - strace
      - perf
      - gdb
      - debuginfod
      - bcc-tools

- copy:
    dest: /etc/sysctl.d/10-perf.conf
    content: |
      kernel.perf_event_paranoid = -1
