$metric-bg: rgb(80% 80% 100% / 30%);
$metric-hl: #e0e0e0;
$bg: rgb(18% 18% 24% / 40%);

* {
  all: unset;
}

.bar {
  // background-color: $bg;
  color: #f0f0e0;
  border-radius: 8px;
  font-family: "Sarasa UI SC";
  font-weight: bold;
}

.title {
  margin: 0 50px;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: $metric-hl;
  border-radius: 3px;
}
.metric scale trough {
  all: unset;
  background-color: $metric-bg;
  border-radius: 3px;
  min-height: 6px;
  min-width: 60px;
}
.metric label {
  font-weight: normal;
}

.circ label {
  margin-right: 0.5rem;
  font-weight: normal;
}
.circ circular-progress {
  color: $metric-hl;
  background-color: $metric-bg;
}

.vol {
  background-color: $bg;
  border-radius: 5px;
  padding: 5px;
}

.cpu {
  background-color: $bg;
  border-radius: 5px;
  padding: 5px;
}
.cpu label {
  margin-right: 0.5rem;
}
.cpu scale trough highlight {
  all: unset;
  background-color: $metric-hl;
}
.cpu scale trough {
  all: unset;
  min-width: 4px;
  background-color: $metric-bg;
  margin: 0 0px 0 0;
}

.mem {
  background-color: $bg;
  border-radius: 5px;
  padding: 5px;
}

.net-label {
  background-color: $bg;
  border-radius: 5px;
  padding: 0px 5px;
  margin-right: 0.2rem;
  font-weight: normal;
}
.net-values {
  font-size: 0.7rem;
  min-width: 2.1rem;
  font-weight: normal;
}

.workspaces box {
  padding: 0 .25rem 0 .5rem;
}
.workspace-entry.current label {
  font-weight: 900;
  color: #ffffff;
  text-decoration-line: underline;
  text-shadow: 0.1rem 0.1rem 0.1rem #a0a0e0;
}
.workspace-entry.empty {
  opacity: 0.2;
}
.workspaces button:hover {
  background-color: shade($bg, 1.8);
}
